.git
.vs
.idea
.vscode

**/bin
**/obj
out
publish

.dotnet
.nuget
.appdata

*.user
*.suo
*.log
*.err.log
*.out.log
*.tmp

CourseInventory.Web/appsettings.Development.json
CourseInventory.Web/appsettings.Local.json
.env
.env.*
